body{
    background-color: black;
}
p{
    color: white;
}
h1, h2, h3, h4, h5, h6, #welcome, #smaller-heading----smaller-heading-these-can-go-as-small-as-6-s{
    color: white;
}
li{
    color: white;
}
ul{
    color: white;
}
ol{
    color: white;
}