body{
    background-color: rgb(43, 43, 43);
}
a{
    color: rgb(74, 159, 255);
}
p{
    color: white;
}
table{
    color: white;
    background-color: rgb(43, 43, 43);
}
thead{
    color: white;
    background-color: rgb(43, 43, 43);
}
tr{
    color: white;
    background-color: rgb(43, 43, 43);
}